<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to public folder except for existing files/directories
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L,QSA]

    # Handle public folder
    RewriteRule ^(/)?$ public/index.php [L]
</IfModule>
